.forgot{
    width: 30%;
    margin: 0 auto;
}
.forgot_header{
    margin-top: 64px;
    font-size:32px;
    text-align:center;
}
.forgot_p{
    text-align:center;
    opacity: 0.8;
}
.forgot_input{
    width: 100%;
    padding: 18px 0;
    border: 1px solid #707070;
    margin-top: 16px;
}
.forgot_button{
    width: 45%;
    align-items: center;
    padding: 16px 0;
    margin-top: 16px;
    border: 1px solid #000;
    font-weight: 700;
}
.div{
    display: flex;
    justify-content: space-between;
}
.button-1{
    color: #000;
    background-color: #fff;
}
.button-1:hover{
    background-color: #DBDBDB;
    cursor: pointer;
}
.button-2{
    color: #fff;
    background-color: #117369;
}
.button-2:hover{
    color: #FBB314;
}